In [ ]:
!cp '/content/drive/MyDrive/HACKER EARTH/7342422066d511eb.zip'  .

In [ ]:
!unzip -q 7342422066d511eb.zip

In [ ]:
import pandas as pd

import numpy as np
import datetime as dt

In [ ]:
train=pd.read_csv('/content/dataset/train.csv')
train.head()

            Customer Id     Artist Name  ...          Customer Location    Cost
0  fffe3900350033003300   Billy Jenkins  ...     New Michelle, OH 50777 -283.29
1  fffe3800330031003900     Jean Bryant  ...  New Michaelport, WY 12072 -159.96
2  fffe3600370035003100    Laura Miller  ...      Bowmanshire, WA 19241 -154.29
3      fffe350031003300  Robert Chaires  ...       East Robyn, KY 86375 -161.16
4  fffe3900320038003400    Rosalyn Krol  ...        Aprilside, PA 52793 -159.23

[5 rows x 20 columns]

In [ ]:
test=pd.read_csv('/content/dataset/test.csv')
test.head()

            Customer Id     Artist Name  ...  Delivery Date         Customer Location
0  fffe3400310033003300    James Miller  ...       07/06/17     Santoshaven, IA 63481
1  fffe3600350035003400   Karen Vetrano  ...       05/02/16     Ericksonton, OH 98253
2  fffe3700360030003500  Roseanne Gaona  ...       01/06/18              APO AP 83453
3      fffe350038003600    Todd Almanza  ...       09/17/17  Antonioborough, AL 54778
4  fffe3500390032003500  Francis Rivero  ...       12/02/17    Lake Frances, LA 03040

[5 rows x 19 columns]

In [ ]:
#train_Y = train['Cost'].abs()
train_X = train#.drop(['Cost'], axis=1)#'Customer Id','Artist Name'
test_X = test
train_X

               Customer Id  ...     Cost
0     fffe3900350033003300  ...  -283.29
1     fffe3800330031003900  ...  -159.96
2     fffe3600370035003100  ...  -154.29
3         fffe350031003300  ...  -161.16
4     fffe3900320038003400  ...  -159.23
...                    ...  ...      ...
6495  fffe3800370037003300  ...   872.43
6496      fffe310036003400  ...  1347.02
6497  fffe3600300031003300  ...   354.55
6498  fffe3600350035003900  ...  5037.50
6499  fffe3700310031003600  ...   722.47

[6500 rows x 20 columns]

In [ ]:
#train_X = train_X.drop(['Customer Id', 'Artist Name', 'Scheduled Date', 'Delivery Date', 'Customer Location', 'Transport'], axis = 1)
#test_X = test.drop(['Customer Id', 'Artist Name', 'Scheduled Date', 'Delivery Date', 'Customer Location', 'Transport'], axis = 1)#

In [ ]:
train_X.isnull().sum()

Customer Id                 0
Artist Name                 0
Artist Reputation         750
Height                    375
Width                     584
Weight                    587
Material                  764
Price Of Sculpture          0
Base Shipping Price         0
International               0
Express Shipment            0
Installation Included       0
Transport                1392
Fragile                     0
Customer Information        0
Remote Location           771
Scheduled Date              0
Delivery Date               0
Customer Location           0
Cost                        0
dtype: int64

In [ ]:
def fillNanValues(df, col, value):
    df[col].fillna(value, inplace=True)

In [ ]:
fillNanValues(train_X, 'Artist Reputation', train_X['Artist Reputation'].median())
fillNanValues(test_X, 'Artist Reputation', test['Artist Reputation'].median())
print(train_X['Artist Reputation'].isna().any())#any returns boolean values
print(test_X['Artist Reputation'].isna().any())

False
False

In [ ]:
fillNanValues(train_X, 'Height', train['Height'].median())
print(train_X['Height'].isna().sum())
fillNanValues(test_X, 'Height', test['Height'].median())
print(test_X['Height'].isna().sum()) # sum gives numerival assurance

0
0

In [ ]:
fillNanValues(train_X, 'Width', train['Width'].median())
print(train_X['Width'].isna().sum())
fillNanValues(test_X, 'Width', test['Width'].median())
print(test_X['Width'].isna().sum())

0
0

In [ ]:
fillNanValues(train_X, 'Weight', train['Weight'].median())
print(train_X['Weight'].isna().sum())
fillNanValues(test_X, 'Weight', test['Weight'].median())
print(test_X['Weight'].isna().sum())

0
0

In [ ]:
fillNanValues(train_X, 'Material', train['Material'].mode()[0])
print(train_X['Material'].isna().sum())
fillNanValues(test_X, 'Material', test['Material'].mode()[0])
print(test_X['Material'].isna().sum())

0
0

In [ ]:
fillNanValues(train_X, 'Remote Location', train['Remote Location'].mode()[0])
print(train_X['Remote Location'].isna().sum())
fillNanValues(test_X, 'Remote Location', test['Remote Location'].mode()[0])
print(test_X['Remote Location'].isna().sum())

0
0

In [ ]:
fillNanValues(train_X, 'Transport', train['Transport'].mode()[0])
print(train_X['Transport'].isna().sum())
fillNanValues(test_X, 'Transport', test['Transport'].mode()[0])
print(test_X['Transport'].isna().sum())

0
0

In [ ]:
check_null_in_train =train_X.isnull().sum()
print(check_null_in_train)

Customer Id              0
Artist Name              0
Artist Reputation        0
Height                   0
Width                    0
Weight                   0
Material                 0
Price Of Sculpture       0
Base Shipping Price      0
International            0
Express Shipment         0
Installation Included    0
Transport                0
Fragile                  0
Customer Information     0
Remote Location          0
Scheduled Date           0
Delivery Date            0
Customer Location        0
Cost                     0
dtype: int64

**data Prepration**

In [ ]:
# select numerical and categorical features
def divideFeatures(df):
    numerical_features = df.select_dtypes(include=[np.number])
    categorical_features = df.select_dtypes(include=[np.object])
    return numerical_features, categorical_features

In [ ]:
continuous_data, categorical_data = divideFeatures(train_X)
categorical_data[:5]

            Customer Id  ...          Customer Location
0  fffe3900350033003300  ...     New Michelle, OH 50777
1  fffe3800330031003900  ...  New Michaelport, WY 12072
2  fffe3600370035003100  ...      Bowmanshire, WA 19241
3      fffe350031003300  ...       East Robyn, KY 86375
4  fffe3900320038003400  ...        Aprilside, PA 52793

[5 rows x 13 columns]

In [ ]:
train_X['Scheduled Date']=pd.to_datetime(train_X['Scheduled Date'])
train_X['Delivery Date'] = pd.to_datetime(train_X['Delivery Date'])

In [ ]:
train_X['schedulediff'] = (train_X['Delivery Date']-train_X['Scheduled Date']).map(lambda x:str(x).split()[0])

In [ ]:
test_X['Scheduled Date']=pd.to_datetime(test_X['Scheduled Date'])
test_X['Delivery Date'] = pd.to_datetime(test_X['Delivery Date'])
test_X['schedulediff'] = (test_X['Delivery Date']-test_X['Scheduled Date']).map(lambda x:str(x).split()[0])

In [ ]:
train_X.drop(columns=['Scheduled Date', 'Delivery Date'], inplace = True, axis=1)
test_X.drop(columns=['Scheduled Date', 'Delivery Date'], inplace = True, axis=1)

In [ ]:
continuous_data, categorical_data = divideFeatures(train_X)
categorical_data[:5]

            Customer Id     Artist Name  ...          Customer Location schedulediff
0  fffe3900350033003300   Billy Jenkins  ...     New Michelle, OH 50777           -4
1  fffe3800330031003900     Jean Bryant  ...  New Michaelport, WY 12072           -1
2  fffe3600370035003100    Laura Miller  ...      Bowmanshire, WA 19241           -1
3      fffe350031003300  Robert Chaires  ...       East Robyn, KY 86375           -4
4  fffe3900320038003400    Rosalyn Krol  ...        Aprilside, PA 52793           -4

[5 rows x 12 columns]

In [ ]:
train_X['schedulediff']=pd.to_numeric(train_X['schedulediff'])
test_X['schedulediff']=pd.to_numeric(test_X['schedulediff'])

In [ ]:
continuous_data, categorical_data = divideFeatures(train_X)
categorical_data[:5]

            Customer Id  ...          Customer Location
0  fffe3900350033003300  ...     New Michelle, OH 50777
1  fffe3800330031003900  ...  New Michaelport, WY 12072
2  fffe3600370035003100  ...      Bowmanshire, WA 19241
3      fffe350031003300  ...       East Robyn, KY 86375
4  fffe3900320038003400  ...        Aprilside, PA 52793

[5 rows x 11 columns]

In [ ]:
train_X[:5]

            Customer Id     Artist Name  ...    Cost  schedulediff
0  fffe3900350033003300   Billy Jenkins  ... -283.29            -4
1  fffe3800330031003900     Jean Bryant  ... -159.96            -1
2  fffe3600370035003100    Laura Miller  ... -154.29            -1
3      fffe350031003300  Robert Chaires  ... -161.16            -4
4  fffe3900320038003400    Rosalyn Krol  ... -159.23            -4

[5 rows x 19 columns]

In [ ]:
train_X.drop(columns=['Customer Location'], inplace = True, axis=1)
test_X.drop(columns=['Customer Location'], inplace = True, axis=1)

In [ ]:
#binary coding
yes_no_columns = ['International', 'Express Shipment', 'Installation Included', 'Fragile', 'Remote Location']

for column in yes_no_columns:
    train_X[column].replace({'Yes':1, 'No':0}, inplace=True)

In [ ]:
#one Hot encoding for the columns Customer Information, Transport
train_X = pd.get_dummies(data=train_X, columns = ['Customer Information', 'Transport'])

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
label_columns=['Material']

for label_column in label_columns:
    train_X[label_column] = le.fit_transform(train_X[label_column])

In [ ]:

train_X[:5]

            Customer Id  ... Transport_Waterways
0  fffe3900350033003300  ...                   0
1  fffe3800330031003900  ...                   0
2  fffe3600370035003100  ...                   0
3      fffe350031003300  ...                   0
4  fffe3900320038003400  ...                   0

[5 rows x 21 columns]

In [ ]:
test_X[:5]

            Customer Id     Artist Name  ...  Remote Location  schedulediff
0  fffe3400310033003300    James Miller  ...               No             3
1  fffe3600350035003400   Karen Vetrano  ...               No             0
2  fffe3700360030003500  Roseanne Gaona  ...               No             2
3      fffe350038003600    Todd Almanza  ...               No             3
4  fffe3500390032003500  Francis Rivero  ...              Yes            -1

[5 rows x 17 columns]

In [ ]:
#binary coding
yes_no_columns = ['International', 'Express Shipment', 'Installation Included', 'Fragile', 'Remote Location']

for column in yes_no_columns:
    test_X[column].replace({'Yes':1, 'No':0}, inplace=True)

In [ ]:
#one Hot encoding for the columns Customer Information, Transport
test_X = pd.get_dummies(data=test_X, columns = ['Customer Information', 'Transport'])

In [ ]:
label_columns=['Material']

for label_column in label_columns:
    test_X[label_column] = le.fit_transform(test_X[label_column])

In [ ]:
test_X[:5]

            Customer Id  ... Transport_Waterways
0  fffe3400310033003300  ...                   0
1  fffe3600350035003400  ...                   0
2  fffe3700360030003500  ...                   0
3      fffe350038003600  ...                   0
4  fffe3500390032003500  ...                   0

[5 rows x 20 columns]

In [ ]:
test_X.drop(columns=['Customer Id'], inplace = True, axis=1)

In [ ]:
test_X.drop(columns=['Artist Name'], inplace = True, axis=1)

In [ ]:
train_X.shape

(6500, 20)

In [ ]:
test_X.shape

(3500, 19)

In [ ]:
import os

path = os.getcwd()
data_path = '//content//drive//MyDrive//HACKER EARTH//'

In [ ]:
train_X.to_csv(data_path + "cln_train.csv",index = False)

In [ ]:
test_X.to_csv(data_path + "cln_test.csv",index = False)

In [ ]:
import sklearn
scaler = sklearn.preprocessing.StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(train_X), columns=train_X.columns)
X_test = pd.DataFrame(scaler.transform(test_X), columns=test_X.columns)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_jobs = -1, random_state = 42, n_estimators = 500, verbose = 1)
regr.fit(train_X, train_Y)
regr.score(train_X,train_Y)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    1.7s
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:    7.2s
[Parallel(n_jobs=-1)]: Done 446 tasks      | elapsed:   16.4s
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:   18.4s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:    0.0s
[Parallel(n_jobs=2)]: Done 196 tasks      | elapsed:    0.2s
[Parallel(n_jobs=2)]: Done 446 tasks      | elapsed:    0.5s
[Parallel(n_jobs=2)]: Done 500 out of 500 | elapsed:    0.5s finished

0.8881861932191231

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(train_X, train_Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
y_prediction_rf = rf.predict(test_X)

In [ ]:
y_prediction_rf

array([   266.9401,    285.6051,    221.7945, ...,    681.5101,
          274.9892, 199243.6767])

In [ ]:
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
param_grid = [
{'n_estimators': [50,100,250,500,1000], 
 'max_depth': [10,20, 50, 100], 'bootstrap': [True, False]}
]

In [ ]:
random_search_forest = RandomizedSearchCV(rf, param_grid, cv=10)
random_search_forest.fit(train_X, train_Y)

RandomizedSearchCV(cv=10, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=False,
                                                   random_state=42, verbose=0,
                                                   warm_start=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions=[{'bootstrap': [True, False],
                                         'max_depth': [10, 20, 50, 100],
                                         'n_estimators': [50, 100, 250, 500,
                                                          1000]}],
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
tuned_rf_best_random = random_search_forest.best_estimator_

In [ ]:
tuned_rf_best_random

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
tuned_rf_best_random.fit(train_X, train_Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=50, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
tuned_rf_random_pred = tuned_rf_best_random.predict(test_X)

In [ ]:
tuned_rf_random_pred

array([   273.7202,    285.2944,    215.365 , ...,    676.4936,
          285.3096, 203271.3452])

In [ ]:
df = pd.DataFrame()

In [ ]:
df['Customer Id'] = test['Customer Id']
df['Cost'] =y_pred#y_prediction_rf
df['Cost'] = df['Cost'].abs()

In [ ]:
df

               Customer Id         Cost
0     fffe3400310033003300     266.9401
1     fffe3600350035003400     285.6051
2     fffe3700360030003500     221.7945
3         fffe350038003600     205.3075
4     fffe3500390032003500     296.3557
...                    ...          ...
3495  fffe3200300037003100    1296.9496
3496      fffe390031003100    2582.2179
3497  fffe3200350031003700     681.5101
3498  fffe3100380031003000     274.9892
3499  fffe3200340037003300  199243.6767

[3500 rows x 2 columns]

In [ ]:
df.to_csv('prediction1.5.csv', index = False)

In [ ]:
import sklearn.model_selection as skms 
import sklearn.ensemble as ske

In [ ]:
param_test1 = {
    'n_estimators' : [10, 50, 100, 500, 1000],
    'max_depth' : np.arange(2,12,2)
}

rf_cv1 = skms.GridSearchCV(estimator = ske.RandomForestRegressor(criterion='mse', random_state=12), 
                  param_grid=param_test1, scoring='neg_mean_squared_error', n_jobs=-1, cv=5, verbose=1)

In [ ]:

rf_cv1 = skms.GridSearchCV(estimator = ske.RandomForestRegressor(criterion='mse', random_state=12), 
                  param_grid=param_test1, scoring='neg_mean_squared_error', n_jobs=-1, cv=5, verbose=1)

rf_cv1.fit(X_train, train_Y)
print(rf_cv1.best_params_, rf_cv1.best_score_)

Fitting 5 folds for each of 25 candidates, totalling 125 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 125 out of 125 | elapsed:  6.9min finished

{'max_depth': 2, 'n_estimators': 1000} -46582077382.89425

In [ ]:
param_test2 = {
    'min_samples_split' : np.arange(2,12,3),
    'min_samples_leaf' : np.arange(1,10,3)
}

rf_cv2 = skms.GridSearchCV(estimator = ske.RandomForestRegressor(criterion='mse', random_state=12,
                                                                 n_estimators=1000, max_depth=10), 
                  param_grid=param_test2, scoring='neg_mean_squared_error', n_jobs=-1, cv=5, verbose=1)

rf_cv2.fit(X_train, train_Y)
print(rf_cv2.best_params_, rf_cv2.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed: 11.7min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed: 15.2min finished

{'min_samples_leaf': 7, 'min_samples_split': 2} -43703604041.39559

In [ ]:
rndm_model = ske.RandomForestRegressor(criterion='mse', random_state=12, max_depth=2, n_estimators=1000,
                                      min_samples_split=2, min_samples_leaf=7)

rndm_model.fit(X_train, train_Y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=2, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=7,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=12, verbose=0, warm_start=False)

In [ ]:
rndm_pred=rndm_model.predict(X_test)

In [ ]:
gb_model = ske.GradientBoostingRegressor(criterion='mse', random_state=12, max_depth=2, n_estimators=200)

gb_model.fit(X_train, train_Y)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='mse', init=None,
                          learning_rate=0.1, loss='ls', max_depth=2,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=200,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=12, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
gb_pred=gb_model.predict(X_test)

In [ ]:
gbe_model = ske.GradientBoostingRegressor(random_state=42,n_estimators=500)

In [ ]:
gbe_model.fit(X_train,train_Y)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=500,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=42, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
gbe_pred=gbe_model.predict(X_test)

In [ ]:
import xgboost as xgb

In [ ]:
model = xgb.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=150,
       n_jobs=-1, nthread=None, random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None, subsample=1)

In [ ]:
model.fit(X_train, train_Y)
xg_pred = model.predict(X_test)

[19:35:39] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

In [ ]:
dt.fit(X_train, train_Y)
dt_pred = dt.predict(X_test)

In [ ]:
param = {'objective': 'regression',
         'boosting': 'gbdt',  
         'metric': 'l2_root',
         'learning_rate': 0.01, 
         'num_iterations': 10000,
         'min_data_in_leaf': 15,
         'bagging_fraction': 0.90,
         'bagging_freq': 2,
         'bagging_seed': 3,
         'feature_fraction': 0.99,
         'feature_fraction_seed': 2,
         'max_bin': 500
         }

In [ ]:
import lightgbm as lgb

gbm = lgb.LGBMRegressor(**param)

In [ ]:
gbm.fit(train_X, train_Y)

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

LGBMRegressor(bagging_fraction=0.9, bagging_freq=2, bagging_seed=3,
              boosting='gbdt', boosting_type='gbdt', class_weight=None,
              colsample_bytree=1.0, feature_fraction=0.99,
              feature_fraction_seed=2, importance_type='split',
              learning_rate=0.01, max_bin=500, max_depth=-1, metric='l2_root',
              min_child_samples=20, min_child_weight=0.001, min_data_in_leaf=15,
              min_split_gain=0.0, n_estimators=100, n_jobs=-1,
              num_iterations=10000, num_leaves=31, objective='regression',
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:

lg_pred = gbm.predict(test_X)

**Neural networks**

In [ ]:
from sklearn import preprocessing

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(train_X)

In [ ]:
X_scale

array([[0.26      , 0.2       , 0.08333333, ..., 1.        , 0.        ,
        0.        ],
       [0.28      , 0.        , 0.02083333, ..., 0.        , 1.        ,
        0.        ],
       [0.07      , 0.07142857, 0.0625    , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.68      , 0.22857143, 0.125     , ..., 0.        , 1.        ,
        0.        ],
       [0.02      , 0.42857143, 0.14583333, ..., 0.        , 1.        ,
        0.        ],
       [0.18      , 0.38571429, 0.22916667, ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
min_max_scaler = preprocessing.MinMaxScaler()
X_test_scale = min_max_scaler.fit_transform(test_X)

In [ ]:
import tensorflow
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(64, input_dim=18, kernel_initializer='normal', activation='relu'))
model.add(Dense(128, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='sgd')

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_13 (Dense)             (None, 64)                1216
_________________________________________________________________
dense_14 (Dense)             (None, 128)               8320
_________________________________________________________________
dense_15 (Dense)             (None, 1)                 129
=================================================================
Total params: 9,665
Trainable params: 9,665
Non-trainable params: 0
_________________________________________________________________

In [ ]:
modeldata = model.fit(X_scale,train_Y, epochs=100, batch_size=32)
model.save("model_2.h5")

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
y_pred = model.predict(X_test_scale)
#print("MAE: ", mean_absolute_error(y_test, y_pred))
#print("MSE: ", mean_squared_error(y_test, y_pred))

In [ ]:
nn = pd.DataFrame()

In [ ]:
nn['Customer Id'] = test['Customer Id']
nn['Cost'] =lg_pred
nn['Cost'] = nn['Cost'].abs()

In [ ]:
nn

               Customer Id           Cost
0     fffe3400310033003300    2098.627720
1     fffe3600350035003400     325.620307
2     fffe3700360030003500     289.936190
3         fffe350038003600     151.197161
4     fffe3500390032003500     445.798209
...                    ...            ...
3495  fffe3200300037003100    1094.489084
3496      fffe390031003100    4190.163262
3497  fffe3200350031003700     354.275285
3498  fffe3100380031003000     411.504425
3499  fffe3200340037003300  122687.918497

[3500 rows x 2 columns]

In [ ]:
nn.to_csv('submission_nn-1.csv',index = False)

**MLP regressor**

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression

In [ ]:
regr = MLPRegressor(random_state=1, max_iter=500).fit(train_X, train_Y)

In [ ]:
mlp_pred=regr.predict(test_X)

In [ ]:
mlp = pd.DataFrame()

In [ ]:
mlp['Customer Id'] = test['Customer Id']
mlp['Cost'] =ct_pred
mlp['Cost'] = mlp['Cost'].abs()

In [ ]:
mlp

               Customer Id           Cost
0     fffe3400310033003300    2157.793172
1     fffe3600350035003400     424.027733
2     fffe3700360030003500     807.841639
3         fffe350038003600     920.799146
4     fffe3500390032003500    1793.275444
...                    ...            ...
3495  fffe3200300037003100    1000.667567
3496      fffe390031003100    4401.387209
3497  fffe3200350031003700     829.174833
3498  fffe3100380031003000      76.493439
3499  fffe3200340037003300  202743.763539

[3500 rows x 2 columns]

In [ ]:
mlp.to_csv('submission_mlp-1.csv',index = False)

In [ ]:
cln=pd.read_csv("cleaned_train.csv")

In [ ]:
cln.head()

,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,Remote Location,Cost,schedulediff,Customer Information_Wealthy,Customer Information_Working Class,Transport_Airways,Transport_Roadways,Transport_Waterways
0,0.26,17.0,6.0,4128.0,1,13.91,16.27,1,1,0,0,0,-283.29,-4,0,1,1,0,0
1,0.28,3.0,3.0,61.0,1,6.83,15.00,0,0,0,0,0,-159.96,-1,0,1,0,1,0
2,0.07,8.0,5.0,237.0,3,4.96,21.18,0,0,0,1,1,-154.29,-1,0,1,0,1,0
3,0.12,9.0,8.0,3102.0,0,5.81,16.31,0,0,0,0,1,-161.16,-4,1,0,0,1,0
4,0.15,17.0,6.0,324.0,0,3.18,11.94,1,1,1,0,0,-159.23,-4,0,1,1,0,0

In [ ]:
cln.isnull().sum()

Artist Reputation                     0
Height                                0
Width                                 0
Weight                                0
Material                              0
Price Of Sculpture                    0
Base Shipping Price                   0
International                         0
Express Shipment                      0
Installation Included                 0
Fragile                               0
Remote Location                       0
Cost                                  0
schedulediff                          0
Customer Information_Wealthy          0
Customer Information_Working Class    0
Transport_Airways                     0
Transport_Roadways                    0
Transport_Waterways                   0
dtype: int64

In [ ]:
!pip install pycaret

Requirement already satisfied: pycaret in /usr/local/lib/python3.6/dist-packages (2.2.3)
Requirement already satisfied: pyod in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.8.7)
Requirement already satisfied: imbalanced-learn>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.8.0)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.6/dist-packages (from pycaret) (2.10.1)
Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.14.0)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.2.1)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.1.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.11.1)
Requirement already satisfied: xgboost>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.3.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.0.0)
Requirement already satisfied: IPython in /usr/local/lib/python3.6/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: scikit-learn==0.23.2 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.23.2)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.6/dist-packages (from pycaret) (7.6.3)
Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.11.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.1.5)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: mlflow in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.14.0)
Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (from pycaret) (2.2.4)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (4.4.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.19.5)
Requirement already satisfied: catboost>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.24.4)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (1.15.0)
Requirement already satisfied: numba>=0.35 in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (0.51.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (0.10.2)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (1.4.1)
Requirement already satisfied: phik>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.11.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.0.6)
Requirement already satisfied: visions[type_image_path]==0.6.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.6.0)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.57.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (20.3.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.4.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Collecting requests>=2.24.0
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61kB 2.7MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend->pycaret) (53.0.0)
Requirement already satisfied: funcy in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (1.15)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (2.7.2)
Requirement already satisfied: wheel>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (0.36.2)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.3.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn==0.23.2->pycaret) (2.1.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from wordcloud->pycaret) (7.0.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (5.1.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim->pycaret) (4.1.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pycaret) (2018.9)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.12.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.13)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: gunicorn; platform_system != "Windows" in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (20.0.4)
Requirement already satisfied: querystring-parser in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: alembic<=1.4.1 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.4.1)
Requirement already satisfied: prometheus-flask-exporter in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.18.1)
Requirement already satisfied: databricks-cli>=0.8.7 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.14.1)
Requirement already satisfied: docker>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (4.4.3)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.4.1)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.3.23)
Requirement already satisfied: gitpython>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.1.13)
Requirement already satisfied: Flask in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.1.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (0.4.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.1.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (2.0.5)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.5)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (3.0.5)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (0.8.2)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (7.4.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost>=0.23.2->pycaret) (0.10.1)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.6/dist-packages (from umap-learn->pycaret) (0.5.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.35->pyod->pycaret) (0.34.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (2.5)
Requirement already satisfied: imagehash; extra == "type_image_path" in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (4.2.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2020.12.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->IPython->pycaret) (0.7.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython->pycaret) (0.2.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.1.4)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic<=1.4.1->mlflow->pycaret) (1.0.4)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.6/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.9.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.7)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.6/dist-packages (from docker>=4.0.0->mlflow->pycaret) (0.57.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.6/dist-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.5)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy->pycaret) (3.4.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.6/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.9.2)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets->pycaret) (22.0.2)
Requirement already satisfied: smmap<4,>=3.0.1 in /usr/local/lib/python3.6/dist-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (3.0.5)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy->pycaret) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy->pycaret) (3.4.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.9)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
ERROR: Operation cancelled by user

**AutoML**

In [ ]:
from pycaret.regression import *
import numpy as np 
import pandas as pd
train_py = pd.read_csv('cleaned_train.csv')
train_py.head()

   Artist Reputation  Height  ...  Transport_Roadways  Transport_Waterways
0               0.26    17.0  ...                   0                    0
1               0.28     3.0  ...                   1                    0
2               0.07     8.0  ...                   1                    0
3               0.12     9.0  ...                   1                    0
4               0.15    17.0  ...                   0                    0

[5 rows x 19 columns]

In [ ]:
train_py.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Artist Reputation                   6500 non-null   float64
 1   Height                              6500 non-null   float64
 2   Width                               6500 non-null   float64
 3   Weight                              6500 non-null   float64
 4   Material                            6500 non-null   int64
 5   Price Of Sculpture                  6500 non-null   float64
 6   Base Shipping Price                 6500 non-null   float64
 7   International                       6500 non-null   int64
 8   Express Shipment                    6500 non-null   int64
 9   Installation Included               6500 non-null   int64
 10  Fragile                             6500 non-null   int64
 11  Remote Location                     6500 non-null   int64
 12  Cost                                6500 non-null   float64
 13  schedulediff                        6500 non-null   int64
 14  Customer Information_Wealthy        6500 non-null   int64
 15  Customer Information_Working Class  6500 non-null   int64
 16  Transport_Airways                   6500 non-null   int64
 17  Transport_Roadways                  6500 non-null   int64
 18  Transport_Waterways                 6500 non-null   int64
dtypes: float64(7), int64(12)
memory usage: 965.0 KB

In [ ]:
stp = setup(train_py, target="Cost", normalize = True)

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            06:15:39
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

Text(value="Following data types have been inferred automatically, if they are correct press enter to continueâ€¦

                                      Data Type
Artist Reputation                       Numeric
Height                                  Numeric
Width                                   Numeric
Weight                                  Numeric
Material                            Categorical
Price Of Sculpture                      Numeric
Base Shipping Price                     Numeric
International                       Categorical
Express Shipment                    Categorical
Installation Included               Categorical
Fragile                             Categorical
Remote Location                     Categorical
schedulediff                        Categorical
Customer Information_Wealthy        Categorical
Customer Information_Working Class  Categorical
Transport_Airways                   Categorical
Transport_Roadways                  Categorical
Transport_Waterways                 Categorical
Cost                                      Label

KeyboardInterrupt: ignored

In [ ]:
models = compare_models(n_select=5)

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
huber,Huber Regressor,17340.9325,6.262509e+10,176408.8129,0.2753,0.8129,0.6713,0.165
par,Passive Aggressive Regressor,17510.6662,6.300882e+10,177128.8199,0.2729,0.8024,0.6372,0.394
en,Elastic Net,29135.0365,6.074016e+10,175953.9812,0.1553,2.9293,27.5487,0.037
omp,Orthogonal Matching Pursuit,29659.3727,6.090516e+10,179886.6177,-0.0679,3.0251,32.6028,0.019
br,Bayesian Ridge,33995.5234,6.190915e+10,183369.4567,-0.1327,3.2905,43.2945,0.025
llar,Lasso Least Angle Regression,35344.5728,6.205623e+10,184233.3790,-0.1906,3.3501,47.3054,0.026
lar,Least Angle Regression,35711.4028,6.202753e+10,184191.5629,-0.1938,3.3702,48.3820,0.028
ridge,Ridge Regression,35542.8770,6.207134e+10,184300.5812,-0.1940,3.3633,47.8813,0.019
lasso,Lasso Regression,35558.5846,6.207844e+10,184318.3469,-0.1948,3.3633,47.9287,0.090
lr,Linear Regression,35566.6152,6.208022e+10,184324.0898,-0.1950,3.3643,47.9546,0.371
et,Extra Trees Regressor,19835.2046,5.926671e+10,178735.5660,-0.2048,0.6948,0.6924,2.436
catboost,CatBoost Regressor,21073.3819,6.407638e+10,187926.7002,-0.6040,1.3600,3.0886,2.460
ada,AdaBoost Regressor,33133.5034,6.258388e+10,183766.0436,-0.8301,2.9245,44.3601,0.185
gbr,Gradient Boosting Regressor,19574.2777,5.896590e+10,189892.4676,-1.1667,1.0241,1.9378,0.584
knn,K Neighbors Regressor,19702.6148,6.182755e+10,191533.8164,-1.2635,1.0132,0.9473,0.125
lightgbm,Light Gradient Boosting Machine,27564.0377,6.471735e+10,200549.6957,-1.6824,1.0491,3.4162,0.123
xgboost,Extreme Gradient Boosting,21420.4006,7.465092e+10,214757.3438,-2.3498,0.7313,0.6673,7.457
rf,Random Forest Regressor,19279.3522,6.192278e+10,192212.6067,-3.1710,0.6089,0.5543,3.175
dt,Decision Tree Regressor,24651.9119,9.915358e+10,268528.1294,-17.2725,0.5053,0.7895,0.066

In [ ]:
from catboost import CatBoostRegressor

In [ ]:
model = CatBoostRegressor(iterations=10000,
  learning_rate=0.004,
  depth=5,
  colsample_bylevel=0.8,
  random_seed = 2020,
  bagging_temperature = 0.2,
  metric_period = None,)

In [ ]:
model.fit(train_X, train_Y,verbose=False)

In [ ]:
train_Y = train['Cost'].abs()
train_X = train.drop(['Cost'], axis=1)
test_X = test
train_X

      Artist Reputation  Height  ...  Transport_Roadways  Transport_Waterways
0                  0.26    17.0  ...                   0                    0
1                  0.28     3.0  ...                   1                    0
2                  0.07     8.0  ...                   1                    0
3                  0.12     9.0  ...                   1                    0
4                  0.15    17.0  ...                   0                    0
...                 ...     ...  ...                 ...                  ...
6495               0.37    37.0  ...                   0                    0
6496               0.67    15.0  ...                   1                    0
6497               0.68    19.0  ...                   1                    0
6498               0.02    33.0  ...                   1                    0
6499               0.18    30.0  ...                   0                    0

[6500 rows x 18 columns]